// ============================================= 
//                Variables                      
// ============================================= 

// Colors
$color-font-primary: #291E4F;
$color-font-secondary: #646a6f;
$color-font-placeholder: #adb3bb;

$color-primary: cornsilk;
$color-secondary: #cccccc;
$color-white: #fff;
$color-bg: #edeff0;
$color-overlay: rgba(0, 0, 0, 0.6);

$btn-primary: #3a3a3a;
$btn-hover: #9a9a9a;

// Fonts
$font-family-primary: 'Poppins', sans-serif;

// Layout
$min-width: 320px;
$max-width: 1920px;
$modal-width: 360px;

// Breakpoints
$breakpoint-s: 500px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;

// Border
$brdr-primary: 1px solid #cccccc;
